[wsl2]
memory=32GB
processors=12
swap=8GB
swapFile=D:\WSL\swap.vhdx
defaultVhdSize=440GB
guiApplications=false
networkingMode=mirrored
dnsTunneling=true
firewall=true
autoProxy=true
vmIdleTimeout=60000
maxCrashDumpCount=2

[experimental]
autoMemoryReclaim=dropCache
sparseVhd=true
hostAddressLoopback=true
